body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
    min-width: 400px;
}
h1 {
    font-size: 15px;
    text-align-last: right;
}
.usuario {
    width: 50px;
    border-color: rgb(50, 116, 50) ;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
}
.google {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    background-color: lightgray;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5%;
}
p{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    margin-right: 2px;
}
#searchBar{
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    margin-left: 27%;
    border-radius: 20px;
    border: 2px transparent rgba(0, 0, 0, 0);
    border-bottom: rgba(0, 0, 0, 0.87);
    border-top: rgba(0, 0, 0, 0.87);
    border-left: rgba(0, 0, 0, 0.87);
    border-right: rgba(0, 0, 0, 0.87);
    top: 50%;
    bottom: 0;
    text-align: center;
    height: 34px;
    width: 582px;
    font-size: 24px;
    background-color: #FFF;
    font-size: 14px;
}
#ButtonBar{
    height: 36px;
    background-color: #f8f9fa;
    border-radius: 10px;
    font-weight: bold;
}
#ButtonSearch{
    padding-bottom: 0%;
    margin-left: 39%;
    height: 36px;
    background-color: #f8f9fa;
    border-radius: 10px;
    font-weight: bold;
}
#ButtonLucky{
    padding-bottom: 0%;
    margin-left: 0%;
    margin-top: 2%;
    height: 36px;
    background-color: #f8f9fa;
    border-radius: 10px;
    font-weight: bold;
}
footer{
    background-color: lightgray;
    height: 100px;
    margin-top: 21%;
    color: #70757a;
    font-size: 14px;
    font-family: arial, sans-serif;
}
a{
    color: black;
}

a:hover{
    color: blue;
}
#SearchBar:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);

}
#ButtonBar:hover{
    color: brown;
    background-color: ghostwhite;
    font-weight: bold;
}
#ButtonSearch:hover{
    color: hotpink;
    font-weight: bold;
}
#ButtonLucky:hover{
    color: chocolate;
    font-weight: bold;
}
#barraUno{
    display: grid;
    grid-template-columns: 15px;
    justify-self: start;
}
.About{
    flex: auto;
    margin: auto;
    color: #70757a;
}
.About:hover{
    color:#70757a;
    font-weight: bold;
}
.Advertising{
    flex: auto;
    margin: auto;
    color: #70757a;
}
.Advertising:hover{
    color:#70757a;
    font-weight: bold;
}
.Business{
    flex: auto;
    margin: auto;
    color: #70757a;
}
.Business:hover{
    color:#70757a;
    font-weight: bold;
}
.Search{
    flex: auto;
    margin: auto;
    color: #70757a;
}
.Search:hover{
    color:#70757a;
    font-weight: bold;
}
#barraDos{
    display: grid;
    grid-template-columns: 15px;
    justify-self: end;
}
.Privacy{
    margin-top: 41px;
    color: #70757a;
}
.Privacy:hover{
    color:#70757a;
    font-weight: bold;
}
.Terms{
    margin-top: 41px;
    color: #70757a;
}
.Terms:hover{
    color:#70757a;
    font-weight: bold;
}
.Settings{
    margin-top: 41px;
    color: #70757a;
}
.Settings:hover{
    color:#70757a;
    font-weight: bold;
}
#Argentina{
    display: grid;
    grid-template-rows: 50px;
}