body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
    min-width: 400px;
}
h1 {
    font-size: 15px;
    text-align-last: right;
}
.usuario {
    width: 50px;
    border-color: rgb(50, 116, 50) ;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
}
.google {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    background-color: lightgray;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5%;
}
p{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    margin-right: 2px;
}
#searchBar{
    padding: 0px;
    margin-left: 37%;
    border-radius: 10px;
    border: 2px solid rgb(182, 178, 178);
    top: 50%;
    bottom: 0;
    text-align: center;
    height: 100px;
}
#ButtonSearch{
    padding-bottom: 0%;
    margin-left: 39%;
}
#ButtonLucky{
    padding-bottom: 0%;
    margin-left: 0%;
    margin-top: 2%;
}
footer{
    background-color: lightgray;
    display: flex;
    flex: auto;
    align-content: flex-end;
    height: 100px;
    margin-top: 17%;
}
a{
    color: black;
}

a:hover{
    color: blue;
}
#ButtonBar:hover{
    color: brown;
}
#ButtonSearch:hover{
    color: hotpink;
}
#ButtonLucky:hover{
    color: chocolate;
}
.About{
    flex: auto;
    margin: auto;
    width: 10px;
}
.Advertising{
    flex: auto;
    margin: auto;
    width: 10px;
}
.Business{
    flex:auto;
    margin: auto;
    width: 10px;
}
.Search{
    flex: auto;
    margin: auto;
    width: 10px;
}
.Privacy{
    flex-direction: row-reverse;
}